<a href="https://colab.research.google.com/github/raju1207/Restaurant-Dataset-of-India-analysis/blob/main/Restaurant_Dataset_of_India_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
Restaurant_Data = pd.read_csv('Restaurant Dataset of India.csv')

In [3]:
Restaurant_Data

,Unnamed: 0,Restaurant,City,Area,Address,Food type,Price,Avg ratings,Total ratings,longitude,latitude
0,0,Jahanpanah,Agra,Agra Cantt,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...","North Indian, Mughlai",425.0,3.9,140,78.011544,27.161661
1,1,Time2Eat - Mama Chicken,Agra,Agra Cantt,"Main Market, Sadar Bazaar, Agra Cantt, Agra",North Indian,250.0,3.6,94,78.011608,27.160832
2,2,Chokho Jeeman Marwari Jain Bhojanalya,Agra,Civil Lines,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Rajasthani,200.0,4.0,87,77.998092,27.195928
3,3,Pinch Of Spice,Agra,Civil Lines,"23/453, Opposite Sanjay Cinema, Wazipura Road,...","North Indian, Chinese, Mughlai",500.0,4.2,177,78.007553,27.201725
4,4,Peshawri - ITC Mughal,Agra,"ITC Mughal, Tajganj","ITC Mughal, Fatehabad Road, Tajganj, Agra","North Indian, Mughlai",1250.0,4.3,133,78.044095,27.160934
...,...,...,...,...,...,...,...,...,...,...,...
10723,10723,Bake And Beans,Hyderabad,Himayath Nagar,Himayath Nagar,"Snacks,American,Pizzas,Pastas,Beverages",400.0,2.9,80,78.484669,17.398225
10724,10724,Jay Mata Ji Home Kitchen,Delhi,Rohini,Rohini,South Indian,200.0,2.9,80,77.116277,28.750815
10725,10725,Chinese Kitchen King,Delhi,Rohini,Rohini,"Chinese,Snacks,Tandoor",150.0,2.9,80,77.116277,28.750815
10726,10726,Shree Ram Paratha Wala,Delhi,Rohini,Rohini,"North Indian,Indian,Snacks",150.0,2.9,80,77.116277,28.750815
10727,10727,Sassy Street,Ahmedabad,Navrangpura,Navrangpura,"Chaat,Snacks,Chinese",250.0,2.9,80,72.564185,23.035588

In [4]:
Restaurant_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10728 entries, 0 to 10727
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     10728 non-null  int64
 1   Restaurant     10728 non-null  object
 2   City           10728 non-null  object
 3   Area           10728 non-null  object
 4   Address        10728 non-null  object
 5   Food type      10728 non-null  object
 6   Price          10728 non-null  float64
 7   Avg ratings    10728 non-null  float64
 8   Total ratings  10728 non-null  int64
 9   longitude      10728 non-null  float64
 10  latitude       10728 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 922.1+ KB

In [ ]:
# Q-1: What are the top-rated cuisines across different cities in India?

In [7]:
food_types = Restaurant_Data['Food type'].value_counts().head(5)

# Display the result
print("Top-rated cuisines across different cities in India:")
print(food_types)

Top-rated cuisines across different cities in India:
Food type
North Indian             604
North Indian, Chinese    381
Chinese                  352
Fast Food                322
North Indian, Mughlai    285
Name: count, dtype: int64

In [ ]:
# Q-2: How does the average price for two people vary across cities and areas?

In [8]:
Avg_ratings = Restaurant_Data['Avg ratings'].value_counts()
Avg_ratings

Avg ratings
2.9    2376
3.2     517
3.1     497
4.1     497
4.2     492
3.4     489
3.3     487
3.5     475
3.9     465
3.8     458
3.6     452
3.0     447
4.0     434
3.7     433
4.3     421
2.8     321
4.4     316
2.7     254
2.6     191
4.5     189
4.6     115
2.5     109
2.4      83
4.7      57
2.3      46
2.2      27
4.9      25
4.8      17
2.1      15
5.0      12
2.0       8
1.9       2
1.8       1
Name: count, dtype: int64